.feynman__title {
  line-height: 1.15;
  font-size: 120px;
  font-family: Inter, Arial, sans-serif;
  font-weight: 700;
  width: 648px;
  text-align: center;
  margin: 0 auto 70px;
  padding-top: 100px;
  z-index: 1;
}
