.footer__columns {
  /* position: relative; */
  display: flex;
  justify-content: space-between;
  width: 90%;
  /* padding: 60px auto 40px; */
  color: #fff;
  margin-left: auto;
  margin-right: auto;
}
