.footer__column-links-item {
  display: flex;
  margin-bottom: 16px;
  text-decoration: none;
  color:#fff;
  line-height: 18px;
  font-size: 18px;
  font-family: Inter, Arial, sans-serif;
  font-weight: 400;
}
