.header__subtitle {
  max-width: 388px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  font-family: Inter, Arial, sans-serif;
  font-size: 18px;
  line-height: 25px;
  z-index: 2;
  margin: 0;
}
