.kaufman__triangle {
  background-image: url(../../../images/triangle.svg);
  width: 877px;
  height: 877px;
  background-size: cover;
  position: absolute;
  right: -210px;
  top: 0;
  animation: rotation 20s infinite linear;
}
